.header {
  height: 100vh;
  background: linear-gradient(
      to left,
      rgba(177, 180, 5, 0.336),
      rgb(0, 0, 0)
    ),
    url("../img/lion.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  position: relative;
  border-radius: 5px 5px 0 0;
  
  &__logo-box {
    height: 8%;
    position: absolute;
    left: 3%;
    top: 5%;
    animation: fadeIn 1s ease-in;
  }

  &__logo {
    height: 100%;
  }
}

.header-primary {
  color: $color-primary;
  position: relative;
  top: 25%;
  width: 100%;
  padding-left: 10%;

  &--main {
    letter-spacing: 10px;
    font-size: 7.2rem;
    display: block;
    animation: moveInLeft 1s ease-out;
  }

  &--secondary {
    font-weight: 300;
    position: relative;
    font-size: 7rem;
    left: 11rem;
    bottom: 6rem;
    display: block;
    animation: moveInRight 1s ease-out;
    color: white;
    display: inline-block;
  }
}